.form-container {
    width: 300px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 40px;
}

.form-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-control label {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    text-align: center;
    color: #2A414F;
}

.form-control input {
    width: 100%;
    padding: 1em;
    
}

.btn-submit, .google-signin-btn {
    border: transparent;
    border-radius: 5px;
}

.btn-submit:hover, .google-signin-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-submit {
    background-color: rgb(245, 215, 141);
}

.error-msg {
    color: red;
}